header {
    background-image: url(../captured-final-assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    max-height: 755px;
    position: relative;
    display: flex;
    flex-direction: column;
}

nav {
    align-self: flex-end;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    font-family: $headingFont;
    text-transform: uppercase;

    li {
        padding: 5px;
        margin: 15px;
        margin-bottom: 0;
    }
    li:first-child {
        border-bottom: 3px $seaGreen solid;
    }
}

h1 {
    font-size: 6.9rem;
    align-self: center;
    position: absolute;
    bottom: 20px;
    z-index: 20;
    margin: 0 auto;
}


.boxImage {
    background-image: url(../captured-final-assets/header-box-image.jpg);
    background-size: cover;
    height: 500px;
    width: 475px;
    border: 40px solid $canary;
    border-right: none;
    box-sizing: content-box;
    position: absolute;
    z-index: 10;
    bottom: -100px;
    right: 0;
}
