header {
    background-image: url(../captured-final-assets/header-image.jpg);
    background-size: cover;
    height: 90vh;
    margin-bottom: 10vh;
    position: relative;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    font-family: $headingFont;
    text-transform: uppercase;

    li {
        padding: 5px;
        margin: 30px 30px 0 30px; 
    }
    li:first-child {
        border-bottom: 3px $seaGreen solid;
    }
}

h1 {
    font-size: 6.9rem;
    text-align: center;
    margin-top: 58vh;
    position: relative;
    z-index: 20;

}

.boxImage {
    background-image: url(../captured-final-assets/header-box-image.jpg);
    height: 640px;
    width: 690px;
    border: 40px solid $canary;
    box-sizing: content-box;
    position: absolute;
    z-index: 10;
    bottom: -10vh;
    right: 0;
}
