// Home header
.homeHeader {
    background-image: url(../captured-final-assets/header-image.jpg);
    // height: 65vh;
    // max-height: 755px;
    height: 600px;
    .mainNav li:first-child {
        border-bottom: 3px $seaGreen solid;
    }
    .slideOutList li:first-child {
        border-bottom: 3px $white solid;
    }
    h1 {
        font-size: calc(6rem + 1vw);
        align-self: center;
        position: absolute;
        bottom: 20px;
        z-index: 20;
        margin: 0 auto;
    }
}

// credit to @alvarotrigo on Code Pen for the animation (https: //alvarotrigo.com/blog/css-text-animations/)
// .animatedH1 {
//     animation-name: h1Colour;
//     animation-delay: 0.3s;
//     animation-duration: 0.2s;
//     animation-iteration-count: 1;
//     animation-timing-function: linear;
//     background-size: 200% auto;

// }

// @keyframes h1Colour {
//     50% {
//         background-position: 200% center;
//         background-image: linear-gradient(-225deg,
//             $white 30%
//         );
//         background-clip: text;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//     }
// }

.animatedH1 {
    animation-name: animatedH1;
    animation-delay: 0.3s;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    // animation-timing-function: linear;
}

@keyframes animatedH1 {
    50% {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    // color: $white;
    }
}

.boxImage {
    background-image: url(../captured-final-assets/header-box-image.jpg);
    background-size: cover;
    background-position: center;
    height: 35vw;
    max-height: 485px;
    width: 35vw;
    max-width: 485px;
    border: 48px solid $canary;
    border-right: none;
    box-sizing: content-box;
    position: absolute;
    z-index: 10;
    bottom: -237px;
    right: 0;
}
// end of Home header

// Blog header
.blogHeader {
    height: 365px;
    .mainNav li:nth-child(3) {
    border-bottom: 3px $seaGreen solid;
    }
    .slideOutList li:nth-child(3) {
        border-bottom: 3px $white solid;
    }
}
.blogBackground {
    background-image: url(../captured-final-assets/blog-header.jpg);
}
// end of Blog header

// Contact header
.contactHeader {
    height: 365px;
    .mainNav li:nth-child(4) {
        border-bottom: 3px $seaGreen solid;
    }
    .slideOutList li:nth-child(4) {
        border-bottom: 3px $white solid;
    }
}
.contactBackground {
    background-image: url(../captured-final-assets/contact-header.jpg);
}
// end of Contact header