.homeHeader,
.blogHeader .wrapper,
.contactHeader .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.homeHeader,
.blogBackground,
.contactBackground,
.boxImage {
    background-size: cover;
    background-repeat: no-repeat;
}

.blogBackground,
.contactBackground {
    width: 100%;
    background-position: 50% 20px;
    position: absolute;
    height: 550px;
    z-index: -10;
    top: 0;
}

.blogHeader,
.contactHeader {
    height: 365px;
    h1 {
        text-align: center;
        margin-top: 175px;
        line-height: 92px;
    }
}

// Home header
.homeHeader {
    background-image: url(../captured-final-assets/header-image.jpg);
    height: 600px;
    .mainNav li:first-child {
        border-bottom: 3px $seaGreen solid;
    }
    .slideOutList li:first-child {
        border-bottom: 2px $white solid;
    }
    h1 {
        font-size: calc(6rem + 1vw);
        align-self: center;
        position: absolute;
        bottom: 20px;
        z-index: 20;
        margin: 0 auto;
    }
}

// credit to @alvarotrigo on Code Pen for the animation (https: //alvarotrigo.com/blog/css-text-animations/)
.animatedH1 {
    animation-name: h1Colour;
    animation-delay: 0.3s;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-size: 200% auto;

}

@keyframes h1Colour {
    50% {
        background-position: 200% center;
        background-image: linear-gradient(-225deg,
            $white 30%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.boxImage {
    background-image: url(../captured-final-assets/header-box-image.jpg);
    background-position: center;
    height: 35vw;
    max-height: 485px;
    width: 35vw;
    max-width: 485px;
    border: 48px solid $canary;
    border-right: none;
    box-sizing: content-box;
    position: absolute;
    z-index: 10;
    bottom: -237px;
    right: 0;
}
// end of Home header

// Blog header
.blogHeader {
    .mainNav li:nth-child(3) {
    border-bottom: 3px $seaGreen solid;
    }
    .slideOutList li:nth-child(3) {
        border-bottom: 2px $white solid;
    }
}
.blogBackground {
    background-image: url(../captured-final-assets/blog-header.jpg);
}
// end of Blog header

// Contact header
.contactHeader {
    .mainNav li:nth-child(4) {
        border-bottom: 3px $seaGreen solid;
    }
    .slideOutList li:nth-child(4) {
        border-bottom: 2px $white solid;
    }
}
.contactBackground {
    background-image: url(../captured-final-assets/contact-header.jpg);
}
// end of Contact header