// Home header

.homeHeader {
    .skip-link {
        position: absolute;
        left: -1000px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        &:focus {
            left: 0;
            transform: none;
        }
    }
    background-image: url(../captured-final-assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    max-height: 755px;
    position: relative;
    display: flex;
    flex-direction: column;
    li:first-child {
        border-bottom: 3px $seaGreen solid;
    }
    h1 {
        font-size: calc(6rem + 1vw);
        align-self: center;
        position: absolute;
        bottom: 20px;
        z-index: 20;
        margin: 0 auto;
    }
}

.boxImage {
    background-image: url(../captured-final-assets/header-box-image.jpg);
    background-size: cover;
    background-position: center;
    height: 35vw;
    max-height: 485px;
    width: 35vw;
    max-width: 485px;
    border: 48px solid $canary;
    border-right: none;
    box-sizing: content-box;
    position: absolute;
    z-index: 10;
    bottom: -237px;
    right: 0;
}

.slideOutIcon {
    display: none;
}

// Blog header

.blogHeader {
    height: 365px;
    li:nth-child(3) {
    border-bottom: 3px $seaGreen solid;
    }
    h1 {
        font-size: 4rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 175px;
    }
    
}

.blogBackground {
    background-image: url(../captured-final-assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20px;
    position: absolute;
    z-index: -10;
    top: 0;
    height: 60vh;
    width: 90%;
    max-width: 1300px;
}

// Contact header

.contactHeader {
    height: 365px;

    li:nth-child(4) {
        border-bottom: 3px $seaGreen solid;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 175px;
    }

}

.contactBackground {
    background-image: url(../captured-final-assets/contact-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20px;
    position: absolute;
    z-index: -10;
    top: 0;
    height: 60vh;
    width: 90%;
    max-width: 1300px;
}