// Home header

.homeHeader {
    background-image: url(../captured-final-assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    max-height: 755px;
    position: relative;
    display: flex;
    flex-direction: column;
    li:first-child {
        border-bottom: 3px $seaGreen solid;
    }
    h1 {
        font-size: 6.9rem;
        align-self: center;
        position: absolute;
        bottom: 20px;
        z-index: 20;
        margin: 0 auto;
    }
}

.boxImage {
    background-image: url(../captured-final-assets/header-box-image.jpg);
    background-size: cover;
    height: 510px;
    width: 510px;
    border: 40px solid $canary;
    border-right: none;
    box-sizing: content-box;
    position: absolute;
    z-index: 10;
    bottom: -180px;
    right: 0;
}

// Blog header

.blogHeader {
    height: 345px;
    li:nth-child(3) {
    border-bottom: 3px $seaGreen solid;
    }
    h1 {
        font-size: 4rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 150px;
    }
}

.blogBackground {
    background-image: url(../captured-final-assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -10px;
    position: absolute;
    z-index: -10;
    top: 0;
    height: 60vh;
    width: 100%;
}