// home page "about" section styling
.about {
    min-height: 680px;
    .wrapper {
        padding: 0 80px;
        text-align: center;
    }
    h2 {
        font-size: 2.1rem;
        padding-top: 230px;
    }
}

// home page article section styling

.articles {
    width: 100%;
}

.wrapper.articles {
    position: relative;
}

.skills,
.gear {
    display: flex;
    justify-content: space-between;
    .imgContainer {
            background-color: $canary;
            width: 40%;
        }
    .textContainer {
        width: 40%;
    }
}

.skills {
    margin-bottom: 80px;
    .imgContainer {
        margin-left: 40px;
    }
    .textContainer {
        margin-top: 50px;
        margin-right: 80px;
        padding-left: 80px;
    }
    img {
        position: relative;
        top: -35px;
        left: -40px;
    }
}

.gear {
    .imgContainer {
        margin-right: 40px;
        order: 1;
    }
    .textContainer {
        margin-left: 80px;
        padding-right: 40px;
        text-align: right;
    }
    img {
        position: relative;
        top: -35px;
        right: -40px;
    }
}

.fullBleedContainer {
    height: 500px;
    width: 100%;
    background-color: $ice;
    position: absolute;
    top: 2080px;
    z-index: -10;
}

// home page "links" section styling

.links {
    width: 100%;
}

.wrapper.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 10px 100px 130px;
}

.linkItems {
    width: calc(50% - 30px);
}

.topPicks,
.blog {
    margin-right: 30px;
}


i {
    background-color: $seaGreen;
    background-position: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 8px;
    font-size: 1.5rem;
    position: relative;
    top: 42px;
    left: -64px;
}

.mapBackgroundImg {
    background-image: url(../captured-final-assets/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}

// home page profile section styling

h2 {
    font-size: 2.1rem;
}

.wrapper.profile {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 80px 60px 120px;
    .imgContainer {
        background-color: $canary;
        width: 30%;
    }
    .textContainer {
        width: calc(70% - 80px);
        margin-left: 80px;
    }
    img {
        position: relative;
        top: -35px;
        left: -40px;
    }
}

.gallery {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    li {
        width: calc((100% / 3) - (70px / 3));
        min-width: 300px;
    }
    li:nth-child(2) {
        margin: 0 35px;
    }
}

.gallery.wrapper {
    padding: 100px 80px 100px 80px;
}

// blog page main and aside styling
.blogPage {
    background-color: $ice;
}

.wrapper.blogPage {
    display: flex;
    background-color: transparent;
    margin-bottom: 100px;
    main {
        width: 69%;
        margin-right: 30px;
        background-color: $ice;
    }
    aside {
        // position: sticky;
        // top: 0;
        width: 31%;
        order: -1;
        margin: 150px 60px 0 60px;
        height: 100%;
        background-color: $white;
        transform: translateY(200px);
        .imgContainer {
            position: relative;
            left: -60px;
            top: -30px;
            height: auto;
            width: 110%;
        }
        .textContainer {
            margin: 0 20px 30px 20px;
        }
        ul {
            margin-top: 20px;
        }
        li {
            color: $seaGreen;
            line-height: 1.6rem;
            list-style: inside;
        }
    }
}

span {
    font-weight: bold;
    font-style: italic;
}
.mainImg {
    background-color: $canary;
    img {
        transform: translate(30px, -30px);
    }
}

.blogPost .textContainer {
    border-left: 5px solid $canary;
    border-bottom: 5px solid $canary;
    padding: 35px;
    padding-bottom: 0;
}

.comments {
    padding: 35px;
    article {
        display: flex;
        padding: 55px 0;
    }
    .imgContainer {
        width: 10%;
        min-width: 80px;
    }
    .textContainer {
        width: 90%;
        padding-left: 35px;
    }
    p {
        margin: 0;
    }
    p:first-child {
        margin-bottom: 8px;
    }
}

//blog page form styling

.blogPage form {
    input, //maybe move this to basestyles
    textarea {
        margin-bottom: 40px;
        padding: 20px;
        // outline: none;
        &:focus{
            outline: dotted 2px $seaGreen;
        }
    }
    input {
        width: calc(50% - 23px);
        border: none;
        border-bottom: 3px solid $seaGreen;
    }
    input:first-of-type {
        margin-right: 40px;
    }
    textarea {
        width: 100%;
        border: 3px solid $seaGreen;
    }
    ::placeholder {
        color: $black;
        background-color: $ice;
        opacity: 100%;
    }
}
