// Home Page "about" section styling
.about {
    padding-top: calc(230px + 5vw);
    padding-bottom: 200px;
    .wrapper {
        padding: 0 80px;
        text-align: center;
    }
}

// Home Page article section styling

.articles {
    width: 100%;
    // position: relative;
}

.skills,
.gear {
    display: flex;
    justify-content: space-between;
    .imgContainer {
            background-color: $canary;
            width: 40%;
        }
    .textContainer {
        width: 40%;
    }
    img {
        position: relative;
        top: -35px;
    }
}

.skills {
    margin-bottom: 80px;
    .imgContainer {
        margin-left: 40px;
    }
    .textContainer {
        margin-top: 50px;
        margin-right: 80px;
        padding-left: 80px;
    }
    img {
        left: -40px;
    }
}

.gear {
    .imgContainer {
        margin-right: 40px;
        order: 1;
    }
    .textContainer {
        margin-left: 80px;
        padding-right: 40px;
        text-align: right;
    }
    img {
        right: -40px;
    }
}

// Home Page "links" section styling

.links {
    position: relative;
    .fullBleedContainer {
        height: 50vh;
        top: -30px;
    }
}

.wrapper.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 100px 0 100px 130px;

}

.linkItems {
    width: calc(50% - 60px);
    margin: 0 60px 60px 0;
    a {
        display: flex;
        transform: translateX(-50px);
        &:hover,
        &:focus {
            transform: scale(1.1);
        }   
    }
    p {
        margin: 10px 0;
    }
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $seaGreen;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    transform: translateX(-20px);
}

.mapBackgroundImg {
    background-image: url(../captured-final-assets/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}

// Home Page profile section styling

.wrapper.profile {
    display: flex;
    flex-wrap: wrap;
    padding: 130px 80px 60px 120px;
    .imgContainer {
        background-color: $canary;
        width: 30%;
    }
    .textContainer {
        width: calc(70% - 80px);
        margin-left: 80px;
        transform: translateY(-30px);
    }
    img {
        position: relative;
        top: -35px;
        left: -40px;
    }
}

.gallery {
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        width: calc((100% / 3) - (70px / 3));
        // position: relative;
        // width: 100%;
    }
    li:nth-child(2) {
        margin: 0 35px;
    }
    .imgContainer {
        transition: 0.5s;
            &:hover {
                transform: scale(1.2);
                img {
                    border-radius: 10%;
                    box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
                }
            }
    }
}

.gallery.wrapper {
    padding: 100px 80px;
}

// Blog Page general layout styling

.blogPage {
    position: relative;
}

.blogPage .fullBleedContainer {
    height: calc(100% - 550px);
    top: 550px;
}

.wrapper.blogPage {
    display: flex;
    background-color: transparent;
    margin-bottom: 100px;
    main {
        width: 69%;
        margin-right: 30px;
        background-color: $ice;
        order: 1;
    }
    aside {
        position: sticky;
        top: 0;
        width: 31%;
        margin: 350px 60px 0 60px;
        height: 60%;
        background-color: $white;
        // transform: translateY(350px);
        .imgContainer {
            position: relative;
            left: -60px;
            top: -30px;
            height: auto;
            width: 110%;
        }
        .textContainer {
            margin: 0 20px 30px 20px;
        }
        ul {
            margin-top: 20px;
        }
        li {
            color: $seaGreen;
            line-height: 1.6rem;
            list-style: inside;
        }   
    }
}
.seeMore {
    display: none;
    position: absolute;
    transform: rotate(90deg);
    left: -40px;
    top: 248px;
    background-color: $seaGreen;
    border-radius: 5%;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: $headingFont;
    font-size: 0.9rem;
}

span {
    font-weight: bold;
    font-style: italic;
}
.mainImg {
    background-color: $canary;
    img {
        transform: translate(31px, -30px);
    }
}

.blogPost .textContainer {
    border-left: 5px solid $canary;
    border-bottom: 5px solid $canary;
    padding: 35px;
    padding-bottom: 0;
}

.comments {
    padding: 35px;
    article {
        display: flex;
        padding: 55px 0;
    }
    .imgContainer {
        width: 10%;
        min-width: 80px;
    }
    .textContainer {
        width: 90%;
        padding-left: 35px;
    }
    p {
        margin: 0;
    }
    p:first-child {
        margin-bottom: 8px;
    }
}


// Contact Page styling

.contactPage.wrapper {
    display: flex;
    padding: 0 110px 150px 80px;
}

.contactPage {
    position: relative;
    // main section styling
    main {
        width: 70%;
        order: 1;
        background-color: $canary;
    }
    form {
        background-color: $white;
        padding: 50px;
        transform: translate(30px, -30px);
    }
    input,
    textarea {
        background-color: $white;
    }
    //aside section styling
    aside {
        width: 30%;
        height: 100%;
        margin-right: 30px;
        transform: translateY(350px);
    }
    .contactEmail {
        font-size: 1.3rem;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        font-family: $headingFont;
        margin: 25px 0;
    }
    address {
        font-style: normal;
    }
    .socialMedia {
        font-size: 1.3rem;
        display: flex;
        width: 46%;
        justify-content: space-between;
    }
    .fullBleedContainer {
        height: calc(100% - 60vh);
        top: 60vh;
    }
}


