// Home Page "about" section styling
.about {
    padding-bottom: 200px;
    .wrapper {
        padding: 0 80px;
        text-align: center;
    }
    h2 {
        font-size: 2.1rem;
        padding-top: calc(230px + 5vw);
    }
}

// Home Page article section styling

.articles {
    width: 100%;
    position: relative;
}

// .wrapper.articles {
//     position: relative;
// }

.skills,
.gear {
    display: flex;
    justify-content: space-between;
    .imgContainer {
            background-color: $canary;
            width: 40%;
        }
    .textContainer {
        width: 40%;
    }
}

.skills {
    margin-bottom: 80px;
    .imgContainer {
        margin-left: 40px;
    }
    .textContainer {
        margin-top: 50px;
        margin-right: 80px;
        padding-left: 80px;
    }
    img {
        position: relative;
        top: -35px;
        left: -40px;
    }
}

.gear {
    .imgContainer {
        margin-right: 40px;
        order: 1;
    }
    .textContainer {
        margin-left: 80px;
        padding-right: 40px;
        text-align: right;
    }
    img {
        position: relative;
        top: -35px;
        right: -40px;
    }
}

.articles .fullBleedContainer {
    height: 500px;
    bottom: -450px;
}

// Home Page "links" section styling

.links {
    width: 100%;
}

.wrapper.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 10px 100px 130px;
}

.linkItems {
    width: calc(50% - 30px);
    margin-right: 30px;
}


.links i {
    background-color: $seaGreen;
    background-position: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 8px;
    font-size: 1.5rem;
    position: relative;
    top: 42px;
    left: -64px;
}

.mapBackgroundImg {
    background-image: url(../captured-final-assets/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}

// Home Page profile section styling

h2 {
    font-size: 2.1rem;
}

.wrapper.profile {
    display: flex;
    // flex-wrap: wrap;
    padding: 130px 80px 60px 120px;
    .imgContainer {
        background-color: $canary;
        width: 30%;
    }
    .textContainer {
        width: calc(70% - 80px);
        margin-left: 80px;
        transform: translateY(-30px);
    }
    img {
        position: relative;
        top: -35px;
        left: -40px;
    }
}

.gallery {
    ul {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
    }
    li {
        width: calc((100% / 3) - (70px / 3));
        // min-width: 300px;
    }
    li:nth-child(2) {
        margin: 0 35px;
    }
}

.gallery.wrapper {
    padding: 100px 80px 100px 80px;
}

// Blog Page general layout styling
.blogPage {
    position: relative;
}

.blogPage .fullBleedContainer {
    height: calc(100% - 60vh);
    top: 60vh;
}

.wrapper.blogPage {
    display: flex;
    background-color: transparent;
    margin-bottom: 100px;
    main {
        width: 69%;
        margin-right: 30px;
        background-color: $ice;
        order: 1;
    }
    aside {
        // position: sticky;
        // top: 0;
        width: 31%;
        margin: 0 60px;
        height: 100%;
        background-color: $white;
        transform: translateY(350px);
        .imgContainer {
            position: relative;
            left: -60px;
            top: -30px;
            height: auto;
            width: 110%;
        }
        .textContainer {
            margin: 0 20px 30px 20px;
        }
        ul {
            margin-top: 20px;
        }
        li {
            color: $seaGreen;
            line-height: 1.6rem;
            list-style: inside;
        }
    }
}

span {
    font-weight: bold;
    font-style: italic;
}
.mainImg {
    background-color: $canary;
    img {
        transform: translate(31px, -30px);
    }
}

.blogPost .textContainer {
    border-left: 5px solid $canary;
    border-bottom: 5px solid $canary;
    padding: 35px;
    padding-bottom: 0;
}

.comments {
    padding: 35px;
    article {
        display: flex;
        padding: 55px 0;
    }
    .imgContainer {
        width: 10%;
        min-width: 80px;
    }
    .textContainer {
        width: 90%;
        padding-left: 35px;
    }
    p {
        margin: 0;
    }
    p:first-child {
        margin-bottom: 8px;
    }
}


// Contact Page styling

.contactPage.wrapper {
    display: flex;
    padding: 0 110px 100px 80px;
}

.contactPage {
    position: relative;
    // main section styling
    main {
            width: 70%;
            order: 1;
            background-color: $canary;
    }
    form {
        background-color: $white;
        padding: 50px;
        transform: translate(30px, -30px);
    }
    input,
    textarea {
        background-color: $white;
    }
    //aside section styling
    aside {
        width: 30%;
        height: 100%;
        margin-right: 30px;
        // background-color: $ice;
        transform: translateY(300px);
    }
    .contactEmail {
        text-transform: uppercase;
        font-family: $headingFont;
        margin: 18px 0;
    }
    address {
        font-style: normal;
    }
    .socialMedia {
        display: flex;
        width: 37%;
        justify-content: space-between;
    }
    .fullBleedContainer {
        height: calc(100% - 60vh);
        top: 60vh;
    }
}


