// Home page 1390px - laptop screen
//#region
@media (max-width: 1390px) {
    .wrapper {
        width: 100%;
    }
    nav {
            ul {
                margin-right: 40px;
            }
        }
    .homeHeader {
        height: 60vh;
        h1 {
            font-size: calc(5.3rem + 1vw);
            bottom: 10px;
        }
    }
    .boxImage {
        height: 34vw;
        width: 34vw;
        right: 0;
    }
} 
// end of Home page 1390px

// Home page 1250px
@media (max-width: 1250px) {
    .homeHeader {
        h1 {
            align-self: flex-end;
            margin-right: 40px;
        }
    }
    .boxImage {
        top: calc(320px + 5vw);
        height: 40vw;
        max-height: none;
        width: 40vw;
        max-width: none;
        border: 35px solid $canary;
        border-right: none;
    }
    
    .about {
        padding: 20% 0 150px 0;
        .wrapper {
            padding-right: 48vw;
            text-align: left;
        }
    }
    .skills,
    .gear {
        .imgContainer,
        .textContainer {
            width: 43%;
        }
    }
    .links .fullBleedContainer {
        display: none;
    }
}
// end of Home page 1250px

//Home page 1080px - tablet horizontal
@media (max-width: 1080px) {
    .homeHeader {
        height: 50vh;
        h1 {
            font-size: calc(4.1rem + 1vw);
        }
    }
    .boxImage {
        display: none;
    }
    .about {
        .wrapper {
            padding: 0 40px;
        }
    }
    nav {
        font-size: 0.9rem;
    }
    .skills,
    .gear {
        display: block;
        margin-bottom: 130px;
        .imgContainer,
        .textContainer {
            width: 70%;
            margin: 0 auto;
            padding: 0;
        }
        .textContainer{
            margin-top: 50px;
        }
    }

    .gear {
        margin-bottom: 100px;
    }
}
// end of Home page 1080px;


// Home page 775px - tablet and mobile
@media (max-width: 775px) {
    html {
        font-size: 120%;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .homeHeader {
    height: 30vh;
    background-position: 12% 45%;
        h1 {
            font-size: calc(0.8rem + 8vw);
            margin-right: 0;
            padding-left: 50px;
            padding-right: 2vw;
            border-bottom: solid 8px $canary;
            bottom: 0px;
        }
        nav {
            display: none;
        }
        .slideOutIcon {
            display: block;
            align-self: flex-end;
            margin: 2vw 2vw 0 0;
            font-size: calc(1.5rem + 1vw);
            text-shadow: $seaGreen 2px -1px;
        }
    }
    .about {
        min-height: none;
        padding-bottom: 0px;
        .buttonLinks {
            margin-bottom: 100px;
        }
        .wrapper {
            padding: 0 20px;
            background: linear-gradient(-45deg, rgba(239, 253, 243, 0.5) 0%, $ice 50%), url(../captured-final-assets/header-box-image.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
        }
        h2 {
        border-left: solid 5px $canary;
        border-bottom: solid 5px $canary;
        display: inline-block;
        }
    }
    .skills,
    .gear {
        .imgContainer,
        .textContainer {
            width: 90%;
        }
    }
    .skills {
        margin-bottom: 80px;
        img {
            top: -5vw;
            left: -5vw;
        }
    }
    .gear {
        margin-bottom: 50px;
        img {
            top: -5vw;
            right: -5vw;
        }
    }
    .mapBackgroundImg {
        background-image: url(../captured-final-assets/banner.jpg);
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    .wrapper.links {
        width: 90%;
        padding: 50px 0 0 50px;

    }
    .linkItems {
        width: 100%;
        margin: 0 0 60px 0;
        a {
            transform: translateX(-38px);
        }
    }

    .iconContainer {
        font-size: 1rem;
        height: 38px;
        width: 38px;
        transform: translateX(-10px);
    }

    .wrapper.profile {
        padding: 80px 0 0 0;
        margin: 0 auto;
        .imgContainer {
            width: 70%;
            margin: 0 auto;
        }
        .textContainer {
            margin: 50px 20px;
            width: 100%;
            transform: none;
        }
        img {
            top: -5vw;
            left: -5vw;
        }
    }

    .gallery.wrapper {
        padding: 15% 0;
    }
    .gallery {
        ul {
            flex-direction: column;
            justify-content: center;
            width: 70%;
            margin: 0 auto;
        }
        
        li {
            width: 100%;

        }
        
        li:nth-child(2) {
            margin: 5% 0;
        }
    }
}

//#endregion

// Blog page 1190px
@media (max-width: 1190px) {
    .wrapper.blogPage {
        aside {
            margin-left: 0;
            margin-right: 0;
            .imgContainer {
                left: 0px;
                width: 90%;
            }
        }
        h3 {
            font-size: 1.2rem;
        }
        p,
        a {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 990px) {
    .wrapper.blogPage {
        aside {
            // position: relative;
            // left: -1000px;
        }
    }
}