//Home page media queries
//#region
// Home page 1390px - laptop screen
@media (max-width: 1390px) {
    .wrapper {
        width: 100%;
    }
    nav {
        ul {
            margin-right: 40px;
        }
    }
    .homeHeader {
        height: 60vh;
        h1 {
            font-size: calc(5.3rem + 1vw);
            bottom: 10px;
        }
    }
    .boxImage {
        height: 34vw;
        width: 34vw;
        right: 0;
    }
} 
// end of Home page 1390px

// Home page 1250px
@media (max-width: 1250px) {
    .homeHeader {
        h1 {
            align-self: flex-end;
            margin-right: 40px;
        }
    }
    .boxImage {
        top: calc(320px + 5vw);
        height: 40vw;
        max-height: none;
        width: 40vw;
        max-width: none;
        border: 35px solid $canary;
        border-right: none;
    }
    
    .about {
        padding: 20% 0 150px 0;
        .wrapper {
            padding-right: 48vw;
            text-align: left;
        }
    }
    .skills,
    .gear {
        .imgContainer,
        .textContainer {
            width: 43%;
        }
    }
    .links .fullBleedContainer {
        display: none;
    }
}
// end of Home page 1250px

//Home page 1080px - tablet horizontal
@media (max-width: 1080px) {
    .homeHeader {
        height: 50vh;
        h1 {
            font-size: calc(4.1rem + 1vw);
        }
    }
    .boxImage {
        display: none;
    }
    .about {
        .wrapper {
            padding: 0 40px;
        }
    }
    nav {
        font-size: 0.9rem;
    }
    .skills,
    .gear {
        display: block;
        margin-bottom: 130px;
        .imgContainer,
        .textContainer {
            width: 70%;
            margin: 0 auto;
            padding: 0;
        }
        .textContainer{
            margin-top: 50px;
        }
    }

    .gear {
        margin-bottom: 100px;
    }
}
// end of Home page 1080px;


// Home page 775px - tablet and mobile
@media (max-width: 775px) {
    html {
        font-size: 120%;
    }
    h1 {
        font-size: calc(0.8rem + 8vw);
    }
    h2 {
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
    nav {
        display: none;
    }
    .slideOutIcon {
        display: block;
        align-self: flex-end;
        margin: 2vw 2vw 0 0;
        font-size: calc(1.5rem + 1vw);
        text-shadow: $seaGreen 2px -1px;
    }
    .homeHeader {
    height: 30vh;
    background-position: 12% 45%;
        h1 {
            font-size: calc(0.8rem + 8vw);
            margin-right: 0;
            padding-left: 50px;
            padding-right: 2vw;
            border-bottom: solid 8px $canary;
            bottom: 0px;
        }
    }
    .about {
        min-height: none;
        padding-bottom: 0px;
        .buttonLinks {
            margin-bottom: 100px;
        }
        .wrapper {
            padding: 0 20px;
            background: linear-gradient(-45deg, rgba(239, 253, 243, 0.5) 0%, $ice 50%), url(../captured-final-assets/header-box-image.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
        }
        h2 {
        border-left: solid 5px $canary;
        border-bottom: solid 5px $canary;
        display: inline-block;
        }
    }
    .skills,
    .gear {
        .imgContainer,
        .textContainer {
            width: 90%;
        }
    }
    .skills {
        margin-bottom: 80px;
        img {
            top: -5vw;
            left: -5vw;
        }
    }
    .gear {
        margin-bottom: 50px;
        img {
            top: -5vw;
            right: -5vw;
        }
    }
    .mapBackgroundImg {
        background-image: url(../captured-final-assets/banner.jpg);
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    .wrapper.links {
        width: 90%;
        padding: 50px 0 0 50px;

    }
    .linkItems {
        width: 100%;
        margin: 0 0 60px 0;
        a {
            transform: translateX(-38px);
        }
    }

    .iconContainer {
        font-size: 1rem;
        height: 38px;
        width: 38px;
        transform: translateX(-10px);
    }

    .wrapper.profile {
        padding: 80px 0 0 0;
        margin: 0 auto;
        .imgContainer {
            width: 70%;
            margin: 0 auto;
        }
        .textContainer {
            margin: 50px 20px;
            width: 100%;
            transform: none;
        }
        img {
            top: -5vw;
            left: -5vw;
        }
    }

    .gallery.wrapper {
        padding: 15% 0;
    }
    .gallery {
        ul {
            flex-direction: column;
            justify-content: center;
            width: 70%;
            margin: 0 auto;
        }
        
        li {
            width: 100%;

        }
        
        li:nth-child(2) {
            margin: 5% 0;
        }
    }
}

//#endregion

//Blog page media queries
//#region
// Blog page 1190px
@media (max-width: 1190px) {
    .wrapper.blogPage {
        aside {
            margin-left: 0;
            margin-right: 0;
            .imgContainer {
                left: 0px;
                width: 90%;
            }
            p,
            a {
                font-size: 0.9rem;
            }
        }
        h3 {
            font-size: 1.2rem;
        }
    }
}
// end of Blog page 1190px

// Blog page 1020px
@media (max-width: 1020px) {
    label.seeMore {
        display: inline-block;
    }
    .wrapper.blogPage {
        main {
            width: 80%;
            margin: 0 auto;
        }
        aside {
            position: absolute;
            width: 300px;
            height: auto;
            left: -50%;
            z-index: 10;
            transition: 0.8s ease-in-out;
        }
        input:checked + aside {
            left: 0;
            box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.2);
        }
    }
}
// end of Blog page 1020px

// Blog page 775px
@media (max-width: 775px) {
    .blogHeader {
        height: 86vw;
    }
    .blogBackground {
        height: 90vw;
    }
    label.seeMore {
        display: none;
    }
    .wrapper.blogPage {
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        main {
            width: 95%;
            order: 0;
        }
        aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: none;
            position: static;
            height: auto;
            width: 100%;
            margin: 50px 0 0 0;
            h3 {
                text-align: center;
            }
            .imgContainer {
                max-width: 500px;
                margin: 50px 20px;
                position: static;
                box-shadow: 10px 10px $canary;
            }
            .textContainer {
                max-width: 500px;
            }
        }
    }
    .mainImg {
        img {
            transform: none;
            box-shadow: -10px 10px $canary;
        }
    }
    .blogPost .textContainer {
        padding: 20px 10px 10px 10px;
    }
    input,
    textarea {
        padding: 8px 10px;
    }
    input {
        width: 100%;
        border: 3px solid $seaGreen;
        &:first-of-type {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .comments {
        margin: 30px 0;
        padding: 10px;
        article {
            padding: 35px 0;
        }

        .imgContainer {
            width: 10%;
            min-width: 50px;
        }

        .textContainer {
            padding-left: 15px;
        }
    }
}
// end of Blog page 775px

//#endregion

// Contact page media queries
//#region
// Contact page 1155px
@media (max-width: 1155px) {
    .contactPage.wrapper {
        flex-direction: column;
        padding: 0 80px;
    }
    .contactPage {
        main {
            order: 0;
            width: 100%;
        }
        aside {
            width: 100%;
            margin: 80px 0;
            transform: none;
        }
        .socialMedia {
            width: 25%;
        }
    }
}
// end of Contact page 1155px

// Contact page 775px
@media (max-width: 775px) {
    .contactPage.wrapper {
        padding: 0;
        width: 95%;
    }
    .contactHeader {
        height: 83vw;
    }
    .contactBackground {
        background-position: 32% 20px;
        height: 90vw;
    }
    .contactPage {
        h1 {
            width: 60%;
            margin: 30vw auto 0 auto;
        }
        form {
            padding: 30px 10px;
            transform: none;
            box-shadow: -10px 10px $canary;
        }
        aside {
            margin: 50px 0;
            text-align: center;
        }
        .socialMedia {
            width: 100%;
            justify-content: center;
            a {
                margin: 0 15px;
            }
        }
        .fullBleedContainer {
            height: calc(100% - 52vh);
            top: 52vh;
        }
    }
}
// end of Contact page 775px
//#endregion