// Home page 1450px - laptop screen
@media (max-width: 1390px) {
    .wrapper {
        width: 100%;
    }
    nav {
            ul {
                margin-right: 40px;
            }
        }
    .homeHeader {
        height: 60vh;
        h1 {
            font-size: calc(5.3rem + 1vw);
            bottom: 10px;
        }
    }
    .boxImage {
        height: 34vw;
        width: 34vw;
        right: 0;
    }

} 
// end of Home page 1450px

// Home page 1250px - tablet horizontal

@media (max-width: 1250px) {
    .homeHeader {
        h1 {
            align-self: flex-end;
            margin-right: 40px;
        }
    }
    .boxImage {
        top: calc(320px + 5vw);
        height: 40vw;
        max-height: none;
        width: 40vw;
        max-width: none;
        border: 35px solid $canary;
        border-right: none;
    }
    
    .about {
        padding-bottom: 150px;
        .wrapper {
            padding-right: 48vw;
            text-align: left;
        }
        h2 {
            padding-top: 20%;
        }
    }

}
@media (max-width: 1080px) {
    .homeHeader {
        height: 50vh;
        h1 {
            font-size: calc(4.3rem + 1vw);
        }
    }
    .boxImage {
        display: none;
    }
    .about {
        .wrapper {
            padding: 0 40px;
        }

        h2 {
            padding-top: 10%;
        }
    }
    nav {
        font-size: 0.9rem;
    }
} // end of Home page 1080x;


// Home page 775px - tablet and mobile
@media (max-width: 775px) {
    html {
        font-size: 120%;
    }
    .homeHeader {
    height: 20vh;
    background-position: 25% 85%;
        h1 {
            font-size: calc(0.8rem + 8vw);
            margin-right: 2vw;
        }
        nav {
            display: none;
        }
        .slideOutIcon {
            display: block;
            align-self: flex-end;
            margin: 2vw 2vw 0 0;
            font-size: calc(1.5rem + 1vw);
            text-shadow: $seaGreen 2px -1px;
        }
        // .boxImage {
        //     display: block;
        //     top: 20vh;
        //     transform: translateX(-50%);
        //     margin: 0 auto;
        //     border: 15px solid $canary;
        //     width: 60vw;
        //     height: 60vw;
        //     box-sizing: border-box;
        // }
    }
    .about {
        min-height: none;
        padding-bottom: 0px;
        .buttonLinks {
            margin-bottom: 100px;
        }
        .wrapper {
            padding: 0 20px;
            text-align: center;
            background: linear-gradient(-45deg, rgba(239, 253, 243, 0.5) 0%, $ice 50%), url(../captured-final-assets/header-box-image.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
        }
        h2 {
        font-size: 1.5rem;
        }
    }
}






        // .homeHeader {

    
        //     h1 {
        //         // align-self: flex-end;
        //         margin-right: 30px;
        //         bottom: 0px;
        //         font-size: calc(3.1rem + 1vw);
        //     }
        // }
        // nav {
        //     font-size: 0.9rem;
        //     width: 60%;
        //     align-self: flex-end;
        //     ul {
        //         margin-right: 30px;
        //         flex-wrap: wrap;
        //         justify-content: flex-end;
        //         li {
        //             padding: 5px;
        //             margin: 0 10px;
        //         }
        //     }
        // }
        // .boxImage {
        //     top: calc(93vh - 30vw);
        //     height: 40vw;
        //     width:  40vw;
        //     border: 25px solid $canary;
        //     border-right: none;
        // }
        // .about {
        //     .wrapper {
        //         padding: 0 40px;
        //         text-align: left;
        //     }
    
        //     h2 {
        //         font-size: calc(1.5rem + 1vw);
        //         padding-top: 100px;
        //         // text-align: center;
        //     }
        //     .buttonLinks {
        //         margin: 0;
        //     }
        // }