// Colours
$canary: #FDFA69;
$seaGreen: #4CEEA7; // 76, 238, 167
$black: #2C2C2C;
$white: #FAFAFA;
$ice: #EFFDF3;

// Fonts
$headingFont: 'Playfair Display', serif; // downloaded the bold and italicized version only
$bodyFont: 'Roboto', sans-serif;