@import './variables';
@import './setupAndBaseStyles';
@import './header';
@import './main';
@import './footer';

// * {
//     border: 1px solid red;
// }


// To Do
// 1. compress images -> not working
// 2. write html
        // check how to style forms (re: sr-only labels)
        // put icons in divs
        // put span with sr-only on icons


// 3. write css
        // hide div boxes used for styling from AT?

// 4. media queries
        // home
                // desktop/laptop
                        // 1450px (header and profile)
                        // 1256 (gallery)
                //tablet
                //mobile

        // blog
        // contact

// 4. minify css
// 5. final push to GitHub
// 6. Push to Netlify

// Issues
// weird lines on header box image when zooming in and out
