@import './variables';
@import './setupAndBaseStyles';
@import './header';
@import './main';
@import './footer';
@import './mediaQueries';

// * {
//     border: 1px solid red;
// }


// To Do
// 1. compress images -> not working
// 2. write html
        // confirm how to style forms (re: sr-only labels)
        // slideout menu (all pages)
        // animate title
                // flip text animation
                // text colour animation
        // on hover over gallery pics, gray out background

// 3. write css
// 4. media queries
        // home --> DONE
        // blog
        // contact

// 4. minify css
// 5. final push to GitHub
// 6. Push to Netlify

// Issues
// weird lines on header box image when zooming in and out
