@import './variables';
@import './setupAndBaseStyles';
@import './header';
@import './main';
@import './footer';

// * {
//     border: 1px solid red;
// }


// To Do
// 1. compress images -> not working
// 2. write html
        // check how to style forms (re: sr-only labels)
// 3. write css
        //hide div boxes from AT

// 4. minify css
// 5. final push to GitHub
// 6. Push to Netlify

// Issues
// weird lines on header box image when zooming in and out
