html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

button,
.buttonLinks {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #4CEEA7;
  color: #2C2C2C;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  background-image: url(../captured-final-assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-height: 755px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 80px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
ul li {
  padding: 5px;
  margin: 15px;
  margin-bottom: 0;
}
ul li:first-child {
  border-bottom: 3px #4CEEA7 solid;
}

h1 {
  font-size: 6.9rem;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  bottom: 20px;
  z-index: 20;
  margin: 0 auto;
}

.boxImage {
  background-image: url(../captured-final-assets/header-box-image.jpg);
  background-size: cover;
  height: 500px;
  width: 475px;
  border: 40px solid #FDFA69;
  border-right: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  z-index: 10;
  bottom: -100px;
  right: 0;
}

.about {
  background-color: #EFFDF3;
  height: 50vh;
}
.about .wrapper {
  padding: 0 80px;
  text-align: center;
}

p {
  text-align: left;
  line-height: 32px;
}

h2 {
  font-size: 2.1rem;
  padding-top: 80px;
}

.skills,
.gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.imgContainer {
  background-color: #FDFA69;
  width: 40%;
  height: 100%;
}

.textContainer {
  width: 40%;
  margin: 20px 0;
}

.skills .imgContainer {
  margin-left: 40px;
}
.skills .textContainer {
  margin-right: 80px;
  padding-left: 80px;
}
.skills img {
  position: relative;
  top: -35px;
  left: -40px;
}

.gear .imgContainer {
  margin-right: 40px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.gear .textContainer {
  margin-left: 80px;
  padding-right: 40px;
  text-align: right;
}
.gear img {
  position: relative;
  top: -35px;
  right: -40px;
}

.links {
  background-color: #EFFDF3;
  height: 50vh;
}
.links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}