html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2C2C2C;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.6rem;
}

p {
  text-align: left;
  line-height: 32px;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:link, a:visited {
  color: #2C2C2C;
}
a:hover, a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
a:focus {
  outline: dotted 2px #4CEEA7;
}

button,
.buttonLinks {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #4CEEA7;
  color: #2C2C2C;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
}
button:hover, button:focus,
.buttonLinks:hover,
.buttonLinks:focus {
  color: #2C2C2C;
}

button {
  width: 100%;
  border: none;
}
button:hover, button:focus {
  cursor: pointer;
  outline: dotted 2px #4CEEA7;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgContainer {
  height: 100%;
}

.about,
.links,
.profile {
  background-color: #EFFDF3;
}

nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 80px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
nav ul li {
  padding: 5px;
  margin: 15px;
  margin-bottom: 0;
}

input,
textarea {
  margin-bottom: 40px;
  padding: 20px;
  border: none;
  background-color: #EFFDF3;
}
input:focus,
textarea:focus {
  outline: dotted 2px #4CEEA7;
}

input {
  width: calc(50% - 23px);
  border-bottom: 3px solid #4CEEA7;
}
input:first-of-type {
  margin-right: 40px;
}

textarea {
  width: 100%;
  border: 3px solid #4CEEA7;
}

::-webkit-input-placeholder {
  color: #2C2C2C;
  opacity: 100%;
}

::-moz-placeholder {
  color: #2C2C2C;
  opacity: 100%;
}

:-ms-input-placeholder {
  color: #2C2C2C;
  opacity: 100%;
}

::-ms-input-placeholder {
  color: #2C2C2C;
  opacity: 100%;
}

::placeholder {
  color: #2C2C2C;
  opacity: 100%;
}

.fullBleedContainer {
  width: 100%;
  background-color: #EFFDF3;
  position: absolute;
  z-index: -20;
}

.homeHeader {
  background-image: url(../captured-final-assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  max-height: 755px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.homeHeader li:first-child {
  border-bottom: 3px #4CEEA7 solid;
}
.homeHeader h1 {
  font-size: 6.9rem;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  bottom: 20px;
  z-index: 20;
  margin: 0 auto;
}

.boxImage {
  background-image: url(../captured-final-assets/header-box-image.jpg);
  background-size: cover;
  background-position: center;
  height: 475px;
  width: 475px;
  border: 40px solid #FDFA69;
  border-right: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  z-index: 10;
  bottom: -180px;
  right: 0;
}

.blogHeader {
  height: 365px;
}
.blogHeader li:nth-child(3) {
  border-bottom: 3px #4CEEA7 solid;
}
.blogHeader h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 175px;
}

.blogBackground {
  background-image: url(../captured-final-assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20px;
  position: absolute;
  z-index: -10;
  top: 0;
  height: 60vh;
  width: 90%;
  max-width: 1300px;
}

.contactHeader {
  height: 365px;
}
.contactHeader li:nth-child(4) {
  border-bottom: 3px #4CEEA7 solid;
}
.contactHeader h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 175px;
}

.contactBackground {
  background-image: url(../captured-final-assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20px;
  position: absolute;
  z-index: -10;
  top: 0;
  height: 60vh;
  width: 90%;
  max-width: 1300px;
}

.about {
  min-height: 680px;
}
.about .wrapper {
  padding: 0 80px;
  text-align: center;
}
.about h2 {
  font-size: 2.1rem;
  padding-top: 230px;
}

.articles {
  width: 100%;
  position: relative;
}

.skills,
.gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills .imgContainer,
.gear .imgContainer {
  background-color: #FDFA69;
  width: 40%;
}
.skills .textContainer,
.gear .textContainer {
  width: 40%;
}

.skills {
  margin-bottom: 80px;
}
.skills .imgContainer {
  margin-left: 40px;
}
.skills .textContainer {
  margin-top: 50px;
  margin-right: 80px;
  padding-left: 80px;
}
.skills img {
  position: relative;
  top: -35px;
  left: -40px;
}

.gear .imgContainer {
  margin-right: 40px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.gear .textContainer {
  margin-left: 80px;
  padding-right: 40px;
  text-align: right;
}
.gear img {
  position: relative;
  top: -35px;
  right: -40px;
}

.articles .fullBleedContainer {
  height: 500px;
  bottom: -450px;
}

.links {
  width: 100%;
}

.wrapper.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 10px 100px 130px;
}

.linkItems {
  width: calc(50% - 30px);
}

.topPicks,
.blog {
  margin-right: 30px;
}

.links i {
  background-color: #4CEEA7;
  background-position: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 8px;
  font-size: 1.5rem;
  position: relative;
  top: 42px;
  left: -64px;
}

.mapBackgroundImg {
  background-image: url(../captured-final-assets/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

h2 {
  font-size: 2.1rem;
}

.wrapper.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 130px 80px 60px 120px;
}
.wrapper.profile .imgContainer {
  background-color: #FDFA69;
  width: 30%;
}
.wrapper.profile .textContainer {
  width: calc(70% - 80px);
  margin-left: 80px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.wrapper.profile img {
  position: relative;
  top: -35px;
  left: -40px;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery li {
  width: calc(33.3333333333% - 23.3333333333px);
}
.gallery li:nth-child(2) {
  margin: 0 35px;
}

.gallery.wrapper {
  padding: 100px 80px 100px 80px;
}

.blogPage {
  position: relative;
}

.blogPage .fullBleedContainer {
  height: calc(100% - 60vh);
  top: 60vh;
}

.wrapper.blogPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  margin-bottom: 100px;
}
.wrapper.blogPage main {
  width: 69%;
  margin-right: 30px;
  background-color: #EFFDF3;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.wrapper.blogPage aside {
  width: 31%;
  margin: 0 60px;
  height: 100%;
  background-color: #FAFAFA;
  -webkit-transform: translateY(350px);
          transform: translateY(350px);
}
.wrapper.blogPage aside .imgContainer {
  position: relative;
  left: -60px;
  top: -30px;
  height: auto;
  width: 110%;
}
.wrapper.blogPage aside .textContainer {
  margin: 0 20px 30px 20px;
}
.wrapper.blogPage aside ul {
  margin-top: 20px;
}
.wrapper.blogPage aside li {
  color: #4CEEA7;
  line-height: 1.6rem;
  list-style: inside;
}

span {
  font-weight: bold;
  font-style: italic;
}

.mainImg {
  background-color: #FDFA69;
}
.mainImg img {
  -webkit-transform: translate(31px, -30px);
          transform: translate(31px, -30px);
}

.blogPost .textContainer {
  border-left: 5px solid #FDFA69;
  border-bottom: 5px solid #FDFA69;
  padding: 35px;
  padding-bottom: 0;
}

.comments {
  padding: 35px;
}
.comments article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 0;
}
.comments .imgContainer {
  width: 10%;
  min-width: 80px;
}
.comments .textContainer {
  width: 90%;
  padding-left: 35px;
}
.comments p {
  margin: 0;
}
.comments p:first-child {
  margin-bottom: 8px;
}

.contactPage.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 110px 100px 80px;
}

.contactPage {
  position: relative;
}
.contactPage main {
  width: 70%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: #FDFA69;
}
.contactPage form {
  background-color: #FAFAFA;
  padding: 50px;
  -webkit-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
}
.contactPage input,
.contactPage textarea {
  background-color: #FAFAFA;
}
.contactPage aside {
  width: 30%;
  height: 100%;
  margin-right: 30px;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}
.contactPage .contactEmail {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  margin: 18px 0;
}
.contactPage address {
  font-style: normal;
}
.contactPage .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactPage .fullBleedContainer {
  height: calc(100% - 60vh);
  top: 60vh;
}

footer a {
  color: #FAFAFA;
}
footer a:visited {
  color: #FAFAFA;
}
footer a:hover {
  -webkit-transform: none;
          transform: none;
}
footer p {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  background-color: #2C2C2C;
  color: #EFFDF3;
}

@media (max-width: 1450px) {
  .homeHeader {
    height: 60vh;
    background-position: 15% 50%;
  }
  .homeHeader h1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 40px;
    bottom: 20px;
  }

  .boxImage {
    -ms-flex-item-align: end;
        align-self: flex-end;
    bottom: -620px;
  }

  .about .wrapper {
    padding-right: 550px;
  }
  .about h2 {
    padding-top: 28%;
  }
}
@media (max-width: 1150px) {
  .homeHeader {
    height: 50vh;
  }
  .homeHeader .boxImage {
    -ms-flex-item-align: end;
        align-self: flex-end;
    bottom: -620px;
  }
}